# Firebase
server/serviceAccountKey.json

# Dependencies
/node_modules
/server/node_modules

# Build output
/dist
/server/dist

# Expo
/.expo/
/web-build/

# Logs
npm-debug.log
yarn-error.log

# Cloudinary
server/src/cloudinaryConfig.ts
